body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  /* Header Styles */
  .Content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 3rem 20px;
    gap: 1rem;
    /* background-color: #007BFF; */
    /* color: white; */
  }

  .greeting{
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }